:root {
    --violet: hsl(257, 40%, 49%);
    --soft-magenta: hsl(300, 69%, 71%);
}

body {
    width: 375px;
    max-width: 80%;
    background-image: url(/images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins";
}

header {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 72px;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
}

header img {
    height: 28px;
    background-color: var(--violet);
    padding: 10px 15px;
    border-radius: 50px;
}

.mockups-container img {
    max-width: 100%;
}

.content-container {
    text-align: center;
}

.content-container h1 {
    font-size: 1.5em;
    text-transform: capitalize;
    font-weight: 700;
    margin-top: 40px;
}

.content-container p {
    font-size: .9em;
}

.content-container button {
    border: none;
    color: rgb(255 255 255);
    background-color: var(--violet);
    padding: 10px 60px;
    border-radius: 50px;
    font-size: .8em;
}

.content-container button:hover {
    background-color: var(--soft-magenta);
    cursor: pointer;
}

footer {
    margin-top: 40px;
}

.rrss-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.rrss-container img {
    width: 28px;
}

.rrss-container img:hover {
    cursor: pointer;
}

.creditos {
    margin: 30px 40px;
}

.creditos p {
    text-align: center;
    font-size: .6em;
    line-height: 1;
}

p a {
    text-decoration: none;
    color: black;
}

p a:hover {
    color: var(--violet);
}

@media (min-width: 1024px) {
    body {
        width: 1440px;
        max-width: 90%;
        /* border: 1px solid black; */
    }

    header {
        /* border: 1px solid black; */
        height: 160px;
    }

    header img {
        height: 40px;
    }

    main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .mockups-container {
        width: 50%;
        box-sizing: border-box;
    }

    .mockups-container img {
        width: 100%;
    }

    .text-container {
        width: 50%;
        box-sizing: border-box;
    }

    .content-container {
        box-sizing: border-box;
        text-align: left;
        margin-left: 60px;
    }

    .content-container h1 {
        font-size: 2.4em;
        line-height: 1.5;
    }

    .content-container p {
        font-size: 1.2em;
    }

    .content-container button {
        margin-top: 20px;
        font-size: 1em;
        padding: 15px 60px;
        box-shadow: 1px 1px 8px 1px black;
    }

    footer {
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .rrss-container {
        /* border: 1px solid black; */
        width: 100%;
        display: flex;
        justify-content: end;
        gap: 20px;
    }

    .rrss-container img {
        width: 40px;
    }

    .creditos {
        margin-bottom: 10px;
    }


}